name: Release

on:
  push:
    branches: [master]

jobs:
  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@master
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test
      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
