name: Publish

on:
  push:
    branches: [master]

concurrency:
  group: release

jobs:
  cache:
    if: github.actor != 'renovate[bot]'
    uses: johngeorgewright/workflows/yarn-cache.yml@main

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [cache]
    outputs:
      packages: ${{ steps.paths.outputs.packages }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Restore cache
        uses: actions/cache@v5
        with:
          key: ${{ needs.cache.outputs.key }}
          path: ${{ needs.cache.outputs.path }}

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Output paths
        id: paths
        run: echo "packages=$(yarn workspaces:list:json)" >> $GITHUB_OUTPUT

      - name: Upload dists
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: dists
          path: packages/**/dist

  publish:
    name: Publish
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        location: ${{ fromJson(needs.build.outputs.packages).*.location }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Download dists
        uses: actions/download-artifact@v4
        with:
          name: dists
          path: ~/dists

      - name: Move dists to project
        run: | # shell
          for package in ~/dists/*
          do 
            mv "$package/dist" "packages/${package/$HOME\/dists\//}"
          done

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          extra_plugins: '@semantic-release/exec@^7'
          working_directory: ${{ matrix.location }}
