name: Release

on:
  push:
    branches: [main]

concurrency:
  group: release

jobs:
  release-test:
    uses: ./.github/workflows/test.yml

  release-github:
    runs-on: ubuntu-latest
    needs: release-test
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  release-npm:
    runs-on: ubuntu-latest
    needs: release-github
    environment: npm
    if: needs.release-github.outputs.releases_created == 'true'
    strategy:
      matrix:
        path: ${{ fromJson(needs.release-github.outputs.paths_released) }}
    permissions:
      contents: read
      id-token: write
    container: oven/bun:1
    steps:
      - uses: actions/checkout@v6
      - run: bun run build
      - working-directory: ${{ matrix.path }}
        run: | # shell
          bun pm pack --filename package.tgz
          bunx npm publish --provenance --access public package.tgz
